{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "htmlWhitespaceSensitivity": "css"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
